{% set miisoShippingIcons = config('TabtenTemplateMiiso.config.miisoShippingMethods') %}

{% for shipping in miisoShippingIcons|slice(start,length) %}
    {% if shipping == "dhl" %}
        <div class="footer-logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="71px" height="45px" viewBox="0 0 71 45" enable-background="new 0 0 71 45" xml:space="preserve">
            <path fill="#EFEFEF" d="M70.5,40.909c0,2.259-1.791,4.091-3.999,4.091H4.5c-2.209,0-4-1.832-4-4.091V4.091C0.5,1.832,2.291,0,4.5,0
            h62.001C68.709,0,70.5,1.832,70.5,4.091V40.909z"/>
                    <g>
                        <polygon fill="#FFCB00" points="63.5,15.931 63.5,28.069 8.5,28.069 8.5,15.931 63.5,15.931 	"/>
                        <path fill="#D2072A" d="M18.172,18.11l-1.757,2.388c0,0,9.109,0,9.577,0c0.484,0,0.478,0.184,0.241,0.504
            c-0.24,0.326-0.643,0.892-0.887,1.222c-0.124,0.168-0.349,0.474,0.396,0.474c0.787,0,3.917,0,3.917,0s0.631-0.858,1.16-1.577
            c0.72-0.977,0.062-3.01-2.511-3.01C26.003,18.11,18.172,18.11,18.172,18.11L18.172,18.11z"/>
                        <path fill="#D2072A" d="M15.704,25.889l3.529-4.796c0,0,3.913,0,4.38,0c0.484,0,0.478,0.184,0.241,0.504
            c-0.24,0.326-0.649,0.886-0.894,1.216c-0.124,0.168-0.349,0.475,0.396,0.475c0.787,0,5.868,0,5.868,0
            c-0.488,0.668-2.071,2.602-4.913,2.602C22.007,25.889,15.704,25.889,15.704,25.889L15.704,25.889z"/>
                        <polygon fill="#D2072A" points="35.917,23.286 34.003,25.889 28.955,25.889 30.869,23.287 35.917,23.286 	"/>
                        <polygon fill="#D2072A" points="43.652,22.697 31.303,22.697 34.68,18.11 39.728,18.11 37.792,20.74 40.045,20.74 41.98,18.11
            47.027,18.11 43.652,22.697 	"/>
                        <polygon fill="#D2072A" points="43.219,23.287 41.304,25.889 36.257,25.889 38.171,23.287 43.219,23.287 	"/>
                        <polygon fill="#D2072A" points="8.5,24.312 15.938,24.312 15.531,24.865 8.5,24.865 8.5,24.312 	"/>
                        <polygon fill="#D2072A" points="8.5,23.287 16.693,23.287 16.286,23.839 8.5,23.839 8.5,23.287 	"/>
                        <polygon fill="#D2072A" points="8.5,25.339 15.183,25.339 14.778,25.889 8.5,25.889 8.5,25.339 	"/>
                        <polygon fill="#D2072A" points="63.5,24.865 56.091,24.865 56.497,24.312 63.5,24.312 63.5,24.865 	"/>
                        <polygon fill="#D2072A" points="63.5,25.889 55.338,25.89 55.742,25.339 63.5,25.339 63.5,25.889 	"/>
                        <polygon fill="#D2072A" points="57.252,23.287 63.5,23.287 63.5,23.839 56.846,23.84 57.252,23.287 	"/>
                        <polygon fill="#D2072A" points="54.018,18.11 50.642,22.697 45.293,22.697 48.672,18.11 54.018,18.11 	"/>
                        <path fill="#D2072A" d="M44.86,23.287c0,0-0.369,0.504-0.548,0.746c-0.635,0.857-0.074,1.855,1.995,1.855c2.39,0,8.105,0,8.105,0
            l1.915-2.602H44.86L44.86,23.287z"/>
                    </g>
            </svg>
        </div>
    {% endif %}

    {% if shipping == "dpd" %}
        <div class="footer-logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="71px" height="45px" viewBox="0 0 71 45" enable-background="new 0 0 71 45" xml:space="preserve">
            <path fill="#EFEFEF" d="M70.5,40.909c0,2.259-1.791,4.091-3.999,4.091H4.5c-2.209,0-4-1.832-4-4.091V4.091C0.5,1.832,2.291,0,4.5,0
                h62.001C68.709,0,70.5,1.832,70.5,4.091V40.909z"/>
                            <path fill="#DC0032" d="M17.501,10.017l-9.49,5.177l10.533,6.126c0.096,0.056,0.205,0.167,0.205,0.288l-0.001,9.025
                c0,0.126-0.112,0.212-0.124,0.22l-0.628,0.35c-0.098,0.055-0.241,0.06-0.384-0.019l-0.56-0.311
                c-0.081-0.045-0.151-0.154-0.151-0.271v-7.985c0-0.141-0.153-0.208-0.256-0.268L7.5,17.025v10.677c0,0.236,0.228,0.507,0.419,0.619
                l9.501,5.604c0.305,0.18,0.486,0.15,0.908-0.061l9.389-5.542c0.219-0.129,0.433-0.37,0.433-0.637V17.023l-6.299,3.681
                c-0.079,0.046-0.222,0.063-0.305,0.016l-0.57-0.33c-0.112-0.065-0.216-0.196-0.219-0.333l-0.012-0.666
                c-0.002-0.1,0.064-0.231,0.152-0.282l6.738-3.923l-9.488-5.168c-0.075-0.041-0.201-0.062-0.326-0.062
                C17.699,9.956,17.577,9.976,17.501,10.017"/>
                            <path fill="#3C3D3B" d="M43.186,27.678V15.116h-2.349v4.119c-0.219-0.127-1.18-0.3-1.934-0.279c-2.512,0.07-4.377,2.053-4.326,4.474
                c0.066,3.167,1.934,4.496,4.861,4.682C40.938,28.206,42.737,27.75,43.186,27.678 M40.846,25.98c-0.154,0.034-1.173,0.142-1.553,0.08
                c-1.547-0.252-2.292-1.044-2.308-2.421c-0.018-1.468,0.593-2.533,2.406-2.608c0.307-0.013,1.32,0.167,1.445,0.283L40.846,25.98z"/>
                            <path fill="#3C3D3B" d="M62.5,27.678V15.116h-2.349v4.119c-0.219-0.127-1.179-0.3-1.933-0.279c-2.512,0.07-4.378,2.053-4.327,4.474
                c0.067,3.167,1.935,4.496,4.862,4.682C60.253,28.206,62.053,27.75,62.5,27.678 M60.16,25.98c-0.153,0.034-1.172,0.142-1.552,0.08
                c-1.548-0.252-2.292-1.044-2.309-2.421c-0.017-1.468,0.594-2.533,2.406-2.608c0.308-0.013,1.321,0.167,1.445,0.283L60.16,25.98z"/>
                            <path fill="#3C3D3B" d="M44.504,19.693v11.796h2.377L46.872,21.23c0.153-0.035,1.165-0.17,1.549-0.148
                c1.567,0.092,2.28,0.967,2.316,2.345c0.023,0.881-0.27,1.611-0.845,2.067c-0.434,0.344-1.036,0.521-1.733,0.541l0.004,2.063
                c1.095,0.032,2.202-0.199,3.08-0.765c1.139-0.734,1.947-2.361,1.902-3.907c-0.081-2.797-1.656-4.389-4.861-4.457
                C46.782,18.939,44.96,19.465,44.504,19.693"/>
            </svg>
        </div>
    {% endif %}

    {% if shipping == "post" %}
        <div class="footer-logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="71px" height="45px" viewBox="0 0 71 45" enable-background="new 0 0 71 45" xml:space="preserve">
            <path fill="#EFEFEF" d="M70.5,40.909c0,2.259-1.791,4.091-3.999,4.091H4.5c-2.209,0-4-1.832-4-4.091V4.091C0.5,1.832,2.291,0,4.5,0
                h62.001C68.709,0,70.5,1.832,70.5,4.091V40.909z"/>
                            <g id="g3428" transform="matrix(4.0016649,0,0,4.0016649,-1291.321,-1349.521)">
                                <path id="path3344" fill="#231F20" d="M336.768,343.421c-1.008-0.001-1.398-0.877-1.345-1.543l0.296-0.094
                    c-0.049,0.377,0.068,0.65,0.15,0.776c-0.096-0.535,0.307-0.968,0.811-0.968c0.455-0.001,0.831,0.331,0.829,0.808
                    c0.067-0.182,0.112-0.458,0.122-0.652l0.683,0.171C338.26,342.72,337.658,343.421,336.768,343.421z M337.749,343.883l-0.388-0.392
                    h0.384l0.387,0.392H337.749L337.749,343.883z M337.23,343.883l-0.389-0.392h0.386l0.388,0.392H337.23L337.23,343.883z
                     M336.365,343.883h-0.386l0.388-0.392h0.386L336.365,343.883L336.365,343.883z M335.46,343.883l0.389-0.392h0.385l-0.388,0.392
                    H335.46L335.46,343.883z M336.681,341.87c-0.3,0-0.544,0.246-0.544,0.546c0,0.302,0.244,0.546,0.544,0.546
                    c0.303,0,0.547-0.244,0.547-0.546C337.228,342.116,336.984,341.87,336.681,341.87"/>
                                <path id="path3346" fill="#231F20" d="M334.637,343.503c-0.174,0-0.269-0.107-0.269-0.274v-0.436h-0.163v-0.162h0.163v-0.171
                    l0.221-0.071v0.241h0.197v0.162h-0.197v0.399c0,0.072,0.021,0.139,0.105,0.139c0.04,0,0.078-0.007,0.102-0.021l0.005,0.174
                    C334.755,343.498,334.703,343.503,334.637,343.503L334.637,343.503z M333.772,343.503c-0.086,0-0.171-0.015-0.252-0.037
                    l0.013-0.181c0.069,0.034,0.142,0.056,0.218,0.056c0.056,0,0.146-0.021,0.146-0.104c0-0.166-0.386-0.053-0.386-0.361
                    c0-0.183,0.16-0.264,0.335-0.264c0.104,0,0.172,0.017,0.241,0.031l-0.014,0.166c-0.068-0.022-0.118-0.036-0.199-0.036
                    c-0.058,0-0.131,0.021-0.131,0.095c0,0.135,0.386,0.047,0.386,0.355C334.128,343.425,333.952,343.503,333.772,343.503
                    L333.772,343.503z M332.972,343.503c-0.281,0-0.445-0.194-0.445-0.44c0-0.281,0.193-0.451,0.445-0.451
                    c0.254,0,0.446,0.169,0.446,0.451C333.419,343.31,333.255,343.503,332.972,343.503L332.972,343.503z M332.084,343.046h-0.099v0.439
                    h-0.231v-1.154h0.294c0.252,0,0.482,0.072,0.482,0.349C332.529,342.948,332.331,343.046,332.084,343.046L332.084,343.046z
                     M330.924,343.341c0.107,0,0.2-0.04,0.282-0.085v0.179c-0.081,0.045-0.173,0.068-0.293,0.068c-0.281,0-0.445-0.162-0.445-0.442
                    c0-0.246,0.13-0.449,0.396-0.449c0.316,0,0.405,0.216,0.405,0.514h-0.588C330.691,343.264,330.787,343.341,330.924,343.341
                    L330.924,343.341z M330.362,343.484h-0.222v-0.456c0-0.104-0.001-0.246-0.144-0.246c-0.16,0-0.196,0.174-0.196,0.284v0.417h-0.222
                    v-1.241h0.222v0.505h0.004c0.056-0.082,0.152-0.135,0.268-0.135c0.202,0,0.29,0.142,0.29,0.335V343.484z M329.243,343.503
                    c-0.279,0-0.42-0.19-0.42-0.449c0-0.248,0.145-0.442,0.412-0.442c0.088,0,0.154,0.009,0.215,0.027l-0.02,0.176
                    c-0.04-0.019-0.082-0.033-0.15-0.033c-0.138,0-0.226,0.111-0.226,0.272c0,0.155,0.074,0.276,0.23,0.276
                    c0.063,0,0.133-0.021,0.171-0.04l0.009,0.184C329.4,343.494,329.334,343.503,329.243,343.503L329.243,343.503z M328.381,343.503
                    c-0.085,0-0.171-0.015-0.252-0.037l0.013-0.181c0.07,0.034,0.143,0.056,0.219,0.056c0.056,0,0.146-0.021,0.146-0.104
                    c0-0.166-0.386-0.053-0.386-0.361c0-0.183,0.16-0.264,0.335-0.264c0.103,0,0.171,0.017,0.241,0.031l-0.015,0.166
                    c-0.068-0.022-0.118-0.036-0.199-0.036c-0.059,0-0.13,0.021-0.13,0.095c0,0.135,0.385,0.047,0.385,0.355
                    C328.738,343.425,328.562,343.503,328.381,343.503L328.381,343.503z M327.858,343.503c-0.174,0-0.27-0.107-0.27-0.274v-0.436
                    h-0.164v-0.162h0.164v-0.171l0.222-0.071v0.241h0.197v0.162h-0.197v0.399c0,0.072,0.02,0.139,0.104,0.139
                    c0.04,0,0.078-0.007,0.101-0.021l0.007,0.174C327.975,343.498,327.925,343.503,327.858,343.503L327.858,343.503z M327.324,343.484
                    h-0.21v-0.116h-0.003c-0.069,0.082-0.164,0.135-0.28,0.135c-0.201,0-0.289-0.143-0.289-0.334v-0.537h0.222v0.455
                    c0,0.105,0.001,0.244,0.143,0.244c0.16,0,0.195-0.174,0.195-0.283v-0.416h0.222V343.484z M326.095,343.341
                    c0.108,0,0.2-0.04,0.283-0.085v0.179c-0.081,0.045-0.173,0.068-0.292,0.068c-0.281,0-0.445-0.162-0.445-0.442
                    c0-0.246,0.13-0.449,0.394-0.449c0.316,0,0.406,0.216,0.406,0.514h-0.589C325.863,343.264,325.959,343.341,326.095,343.341
                    L326.095,343.341z M324.886,343.484h-0.316v-1.154h0.316c0.354,0,0.666,0.118,0.666,0.578
                    C325.552,343.365,325.24,343.484,324.886,343.484L324.886,343.484z M326.049,342.774c-0.124,0-0.186,0.086-0.197,0.2h0.377
                    C326.223,342.867,326.173,342.774,326.049,342.774z M324.931,342.511h-0.129v0.79h0.129c0.194,0,0.38-0.144,0.38-0.394
                    C325.311,342.655,325.125,342.511,324.931,342.511z M332.068,342.511h-0.083v0.351h0.083c0.115,0,0.22-0.036,0.22-0.171
                    C332.287,342.558,332.186,342.511,332.068,342.511z M332.972,342.783c-0.144,0-0.214,0.127-0.214,0.254
                    c0,0.141,0.044,0.294,0.214,0.294c0.17,0,0.215-0.151,0.215-0.294C333.187,342.908,333.118,342.783,332.972,342.783z
                     M330.878,342.774c-0.125,0-0.187,0.086-0.196,0.2h0.377C331.052,342.867,331.002,342.774,330.878,342.774"/>
                            </g>
            </svg>
        </div>
    {% endif %}

    {% if shipping == "post-nl" %}
        <div class="footer-logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="71px" height="45px" viewBox="0 0 71 45" enable-background="new 0 0 71 45" xml:space="preserve">
            <path fill="#EFEFEF" d="M70.5,40.909c0,2.259-1.791,4.091-3.999,4.091H4.5c-2.209,0-4-1.832-4-4.091V4.091C0.5,1.832,2.291,0,4.5,0
                h62.001C68.709,0,70.5,1.832,70.5,4.091V40.909z"/>
                            <path fill="#B0B3B5" d="M25.59,6.5c4.01,0,10.453,2.546,14.742,4.911c4.715,2.6,11.356,7.908,11.362,11.568
                c-0.007,3.895-6.799,9.052-11.362,11.567C36.188,36.831,29.879,39.5,25.736,39.5c-1.098,0-1.994-0.188-2.665-0.557
                c-3.274-1.806-4.766-9.542-4.766-15.965c0-3.229,0.417-6.697,1.142-9.517c0.873-3.393,2.126-5.621,3.624-6.447
                C23.691,6.673,24.539,6.5,25.59,6.5"/>
                            <path fill="#ED8C00" d="M50.583,22.979c-0.004-2.78-5.227-7.594-10.79-10.662C33.375,8.778,26.07,6.692,23.664,8.018
                c-2.742,1.513-4.246,9.066-4.247,14.96c0.001,5.942,1.417,13.399,4.247,14.961c2.565,1.413,9.552-0.673,16.129-4.299
                C45.444,30.524,50.578,25.894,50.583,22.979"/>
                            <path fill="#FFFFFF" d="M43.302,25.87c-0.015,0-0.027-0.014-0.027-0.028v-2.763c0-0.614-0.208-0.876-0.698-0.876
                c-0.174,0-0.385,0.065-0.595,0.184c-0.208,0.121-0.371,0.221-0.429,0.257c-0.016,0.01-0.034,0.037-0.034,0.06v3.139
                c0,0.015-0.013,0.028-0.028,0.028h-1.231c-0.017,0-0.029-0.014-0.029-0.028v-4.444c0-0.073,0.06-0.132,0.134-0.132h1.128
                c0.016,0,0.029,0.014,0.029,0.028v0.35c0,0.021,0.017,0.038,0.038,0.038c0.009,0,0.019-0.005,0.021-0.007l0.037-0.027
                c0.139-0.106,0.349-0.227,0.492-0.28c0.31-0.118,0.642-0.186,0.912-0.186c1.006,0,1.538,0.578,1.538,1.671l0.001,2.989
                c0,0.016-0.013,0.028-0.029,0.028H43.302"/>
                            <path fill="#FFFFFF" d="M45.577,25.87c-0.017,0-0.028-0.014-0.028-0.028l-0.001-6.807c0-0.023,0.005-0.031,0.038-0.031
                c0.078,0,0.764,0.432,0.986,0.677c0.165,0.182,0.259,0.43,0.259,0.677l0.001,5.484c0,0.015-0.013,0.028-0.028,0.028H45.577"/>
                            <path fill="#292E86" d="M31.94,23.567c0,1.627-1.074,2.404-2.403,2.404c-1.332,0-2.404-0.777-2.404-2.405
                c0-1.664,1.073-2.403,2.404-2.403C30.866,21.163,31.94,21.902,31.94,23.567 M30.577,23.566c0-0.878-0.446-1.263-1.04-1.263
                c-0.594,0-1.041,0.385-1.041,1.263c0,0.809,0.447,1.261,1.041,1.261C30.13,24.827,30.577,24.375,30.577,23.566z"/>
                            <path fill="#292E86" d="M38.199,20.002c0-0.036-0.016-0.048-0.054-0.048c-0.091,0-0.783,0.445-0.999,0.683
                c-0.162,0.178-0.265,0.427-0.265,0.688v2.956c0,1.282,0.742,1.683,1.539,1.683c0.456,0,0.765-0.066,0.948-0.166
                c0.039-0.021,0.076-0.064,0.076-0.128v-0.838c0-0.024-0.021-0.045-0.045-0.045c-0.045,0-0.349,0.119-0.542,0.119
                c-0.412,0-0.658-0.195-0.658-0.847v-1.699c0-0.024,0.019-0.045,0.044-0.045h1.112c0.025,0,0.046-0.02,0.046-0.045l0,0v-0.876
                c0-0.078-0.066-0.145-0.146-0.145h-1.012c-0.025,0-0.044-0.02-0.044-0.044L38.199,20.002"/>
                            <path fill="#292E86" d="M22.117,21.397c0-0.082,0.066-0.148,0.149-0.148h1.752c1.722,0,2.613,1.035,2.613,2.372
                c0,1.338-0.998,2.266-2.641,2.266h-0.512c-0.025,0-0.045,0.02-0.045,0.045v2.169c0,0.036-0.016,0.048-0.055,0.048
                c-0.09,0-0.783-0.445-0.999-0.682c-0.161-0.178-0.264-0.428-0.264-0.689V21.397 M25.332,23.555c0-0.569-0.368-1.103-1.34-1.103
                h-0.515c-0.024,0-0.044,0.021-0.044,0.045v2.14c0,0.024,0.02,0.045,0.044,0.045h0.541C25.176,24.682,25.332,23.877,25.332,23.555z"
                            />
                            <path fill="#292E86" d="M35.646,23.364c-0.272-0.179-0.604-0.252-0.925-0.321c-0.058-0.014-0.271-0.061-0.319-0.072
                c-0.392-0.087-0.702-0.156-0.702-0.41c0-0.219,0.211-0.361,0.539-0.361c0.413,0,0.986,0.082,1.613,0.317
                c0.031,0.012,0.074-0.008,0.076-0.05l0.001-0.908c-0.001-0.062-0.04-0.123-0.108-0.146c-0.219-0.069-0.872-0.25-1.423-0.25
                c-0.613,0-1.124,0.136-1.477,0.396c-0.355,0.261-0.544,0.637-0.544,1.09c0,1.021,0.836,1.215,1.628,1.401
                c0.122,0.028,0.103,0.024,0.148,0.033c0.361,0.08,0.735,0.163,0.735,0.46c0,0.089-0.032,0.162-0.1,0.23
                c-0.102,0.1-0.257,0.144-0.555,0.144c-0.504,0-1.451-0.234-1.744-0.328c-0.001,0-0.014-0.003-0.019-0.003
                c-0.031,0-0.057,0.023-0.057,0.054v0.91c0,0.063,0.04,0.12,0.102,0.143c0.006,0.002,0.834,0.276,1.618,0.276
                c1.368,0,2.07-0.535,2.07-1.513C36.205,23.968,36.021,23.611,35.646,23.364"/>
                            <path fill="#FFFFFF" d="M27.507,20.063c-0.109,0-0.156-0.055-0.156-0.184v-0.498c0-0.113,0.096-0.208,0.208-0.208h3.959
                c0.113,0,0.209,0.095,0.209,0.208v0.498c0,0.129-0.046,0.184-0.157,0.184H27.507 M31.087,18.667c-0.042,0-0.071-0.011-0.086-0.032
                c-0.017-0.023-0.018-0.061-0.003-0.108c0.131-0.409,0.575-1.65,0.58-1.663c0.029-0.08-0.001-0.192-0.085-0.222l-0.223-0.074
                c-0.017-0.005-0.03-0.007-0.044-0.007c-0.043,0-0.068,0.022-0.079,0.043c-0.092,0.205-0.144,0.348-0.215,0.59
                c-0.012,0.042-0.046,0.062-0.103,0.062h-0.437c-0.033,0-0.055-0.009-0.068-0.025s-0.015-0.042-0.006-0.075
                c0.112-0.403,0.229-0.726,0.388-1.082c0.028-0.062,0.097-0.167,0.245-0.167c0.026,0,0.055,0.004,0.085,0.01l0.003,0.001
                c0.148,0.035,0.316,0.074,0.493,0.128c0.138,0.041,0.283,0.091,0.431,0.146c0.447,0.166,0.429,0.489,0.341,0.813
                c-0.053,0.198-0.314,0.927-0.471,1.362c-0.033,0.092-0.061,0.17-0.081,0.224c-0.019,0.051-0.059,0.075-0.127,0.075H31.087z
                 M29.258,18.667c-0.097,0-0.104-0.108-0.104-0.112c-0.001-0.022-0.03-2.341-0.034-2.656c0-0.023,0.007-0.075,0.04-0.107
                c0.018-0.019,0.041-0.027,0.068-0.027c0.046-0.002,0.166-0.008,0.309-0.008c0.145,0,0.265,0.005,0.31,0.008
                c0.028,0,0.051,0.009,0.069,0.026c0.032,0.033,0.04,0.085,0.04,0.108c-0.004,0.315-0.034,2.634-0.034,2.656
                c0,0.001-0.007,0.112-0.104,0.112H29.258z M27.447,18.667c-0.068,0-0.109-0.024-0.128-0.075c-0.02-0.054-0.047-0.132-0.08-0.224
                c-0.157-0.435-0.418-1.164-0.471-1.362c-0.087-0.324-0.105-0.647,0.341-0.813c0.147-0.055,0.292-0.104,0.431-0.146
                c0.175-0.054,0.343-0.093,0.493-0.128l0.003-0.001c0.03-0.006,0.058-0.01,0.085-0.01c0.148,0,0.217,0.104,0.245,0.167
                c0.159,0.355,0.275,0.679,0.387,1.082c0.009,0.033,0.008,0.059-0.005,0.075c-0.013,0.017-0.036,0.025-0.068,0.025h-0.437
                c-0.058,0-0.091-0.021-0.103-0.062c-0.071-0.242-0.124-0.386-0.216-0.59c-0.009-0.021-0.035-0.043-0.078-0.043
                c-0.013,0-0.028,0.002-0.043,0.007l-0.224,0.074c-0.084,0.03-0.114,0.142-0.086,0.222c0.005,0.012,0.449,1.253,0.58,1.663
                c0.015,0.048,0.014,0.085-0.002,0.108c-0.015,0.021-0.044,0.032-0.085,0.032H27.447z M29.536,15.288
                c-0.024,0-0.049-0.01-0.076-0.031c-0.186-0.146-0.354-0.316-0.502-0.507c-0.016-0.021-0.05-0.064-0.003-0.118
                c0.156-0.2,0.335-0.377,0.534-0.528c0.023-0.013,0.036-0.017,0.047-0.017c0.013,0,0.026,0.003,0.049,0.017
                c0.2,0.151,0.378,0.328,0.533,0.527c0.043,0.048,0.022,0.087-0.002,0.119c-0.148,0.191-0.317,0.361-0.502,0.507
                C29.587,15.278,29.562,15.288,29.536,15.288L29.536,15.288z"/>
            </svg>
        </div>
    {% endif %}

    {% if shipping == "swiss-post" %}
        <div class="footer-logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="71px" height="45px" viewBox="0 0 71 45" enable-background="new 0 0 71 45" xml:space="preserve">
            <path fill="#EFEFEF" d="M70.5,40.909c0,2.259-1.791,4.091-3.999,4.091H4.5c-2.209,0-4-1.832-4-4.091V4.091C0.5,1.832,2.291,0,4.5,0
                h62.001C68.709,0,70.5,1.832,70.5,4.091V40.909z"/>
                            <polyline id="polyline10" fill="#FFFFFF" points="51.766,27.785 52.398,24.801 8.134,24.801 7.5,27.785 51.766,27.785 "/>
                            <polyline id="polyline12" fill="#FF2A0C" points="54.75,16.215 59.635,16.215 58.881,19.831 62.5,19.831 61.533,24.379
                57.916,24.379 57.224,27.785 53.213,27.785 53.453,26.609 56.228,26.609 56.951,23.236 60.569,23.236 61.053,20.975 57.404,20.975
                58.157,17.39 55.715,17.39 54.961,20.975 53.756,20.975 54.75,16.215 "/>
                            <polyline id="polyline14" points="21.762,19.981 20.437,19.981 20.406,20.012 18.476,24.199 18.446,20.041 18.446,19.981
                16.818,19.981 16.818,20.012 14.978,24.199 14.828,20.041 14.828,19.981 13.561,19.981 13.561,20.041 13.923,25.766 13.923,25.826
                15.431,25.826 15.46,25.766 17.39,21.427 17.42,25.766 17.42,25.826 18.958,25.826 18.989,25.766 21.703,20.071 21.762,19.981 "/>
                            <polyline id="polyline16" points="23.361,19.981 22.034,19.981 22.034,20.012 20.828,25.734 20.798,25.826 22.125,25.826
                22.125,25.766 23.331,20.041 23.361,19.981 "/>
                            <path id="path18" d="M29.784,19.861c-0.996,0-2.171,0.481-2.171,1.809c0,0.873,0.603,1.203,1.146,1.504
                c0.423,0.242,0.785,0.453,0.785,0.873c0,0.574-0.513,0.846-1.025,0.846c-0.483,0-0.965-0.211-1.387-0.393l-0.061-0.029v0.061
                l-0.301,0.992l-0.03,0.031l0.06,0.029c0.604,0.213,1.146,0.332,1.658,0.332c0.844,0,1.507-0.209,1.899-0.631
                c0.362-0.332,0.513-0.785,0.513-1.357c0-0.934-0.664-1.324-1.207-1.627c-0.391-0.24-0.753-0.451-0.753-0.813
                c0-0.121,0.06-0.241,0.151-0.331c0.181-0.211,0.511-0.271,0.753-0.271c0.392,0,0.815,0.12,1.176,0.301l0.061,0.03l0.031-0.06
                l0.271-0.964v-0.03l-0.061-0.03C30.869,19.951,30.357,19.861,29.784,19.861"/>
                            <path id="path20" d="M27.221,20.162l-0.03-0.03c-0.422-0.181-0.936-0.271-1.508-0.271c-1.024,0-2.201,0.481-2.201,1.809
                c0,0.873,0.604,1.203,1.146,1.504c0.422,0.242,0.814,0.453,0.814,0.873c0,0.574-0.514,0.846-1.026,0.846
                c-0.512,0-0.995-0.211-1.386-0.393l-0.061-0.029l-0.03,0.061l-0.302,0.992v0.031l0.061,0.029c0.573,0.213,1.146,0.332,1.627,0.332
                c0.845,0,1.509-0.209,1.93-0.631c0.332-0.332,0.513-0.785,0.513-1.357c0-0.934-0.693-1.324-1.207-1.627
                c-0.422-0.24-0.753-0.451-0.753-0.813c0-0.121,0.03-0.241,0.12-0.331c0.211-0.211,0.514-0.271,0.785-0.271
                c0.362,0,0.784,0.12,1.146,0.301l0.06,0.03l0.03-0.06l0.272-0.964V20.162"/>
                            <path id="path22" d="M11.782,19.861c-0.996,0-2.171,0.481-2.171,1.809c0,0.873,0.603,1.203,1.146,1.504
                c0.422,0.242,0.813,0.453,0.813,0.873c0,0.574-0.542,0.846-1.055,0.846c-0.482,0-0.965-0.211-1.357-0.393l-0.06-0.029l-0.031,0.061
                l-0.301,0.992v0.031l0.03,0.029c0.604,0.213,1.146,0.332,1.658,0.332c0.845,0,1.508-0.209,1.93-0.631
                c0.332-0.332,0.483-0.785,0.483-1.357c0-0.934-0.664-1.324-1.206-1.627c-0.393-0.24-0.754-0.451-0.754-0.813
                c0-0.121,0.06-0.241,0.15-0.331c0.181-0.211,0.513-0.271,0.754-0.271c0.392,0,0.813,0.12,1.175,0.301l0.061,0.03l0.03-0.06
                l0.272-0.964v-0.03l-0.06-0.03C12.868,19.951,12.385,19.861,11.782,19.861"/>
                            <path id="path24" d="M35.091,20.975h0.3c0.272,0,0.514,0.121,0.664,0.271c0.152,0.15,0.242,0.363,0.242,0.604
                c0,0.662-0.664,1.023-1.268,1.023h-0.33L35.091,20.975 M35.061,19.981h-1.024v0.03l-1.237,5.723v0.092h1.267v-0.061
                c0,0,0.394-1.748,0.422-1.867h0.604c0.783,0,1.477-0.271,1.93-0.723c0.391-0.393,0.571-0.875,0.571-1.477
                c0-0.453-0.118-0.814-0.421-1.086C36.658,20.071,35.724,19.981,35.061,19.981z"/>
                            <path id="path26" d="M40.125,24.924c-0.301,0-0.572-0.123-0.753-0.303c-0.24-0.242-0.392-0.633-0.392-1.055
                c0-0.812,0.331-1.656,0.814-2.17c0.33-0.331,0.723-0.481,1.175-0.481c0.332,0,0.575,0.09,0.785,0.301
                c0.24,0.241,0.36,0.604,0.36,1.054C42.115,23.355,41.423,24.924,40.125,24.924 M42.779,20.523c-0.423-0.421-1.024-0.633-1.779-0.633
                c-1.024,0-1.748,0.331-2.412,1.084c-0.572,0.695-0.904,1.598-0.904,2.533c0,0.723,0.241,1.355,0.663,1.807
                c0.422,0.393,0.995,0.633,1.659,0.633c1.025,0,1.869-0.363,2.471-0.994c0.605-0.693,0.967-1.627,0.967-2.562
                C43.443,21.578,43.232,20.975,42.779,20.523z"/>
                            <path id="path28" d="M47.784,20.162c-0.422-0.181-0.934-0.271-1.507-0.271c-0.996,0-2.201,0.482-2.201,1.779
                c0,0.873,0.634,1.234,1.146,1.535c0.451,0.242,0.813,0.451,0.813,0.875c0,0.57-0.513,0.844-1.025,0.844
                c-0.514,0-0.965-0.213-1.388-0.393L43.594,24.5h-0.03l-0.03,0.061l-0.271,0.963l-0.03,0.061h0.03l0.03,0.031
                c0.571,0.211,1.145,0.332,1.657,0.332c0.814,0,1.479-0.24,1.9-0.662c0.331-0.332,0.512-0.754,0.512-1.326
                c0-0.936-0.662-1.326-1.205-1.658c-0.423-0.211-0.756-0.42-0.756-0.781c0-0.153,0.062-0.273,0.152-0.363
                c0.211-0.24,0.633-0.24,0.753-0.24c0.394,0,0.814,0.089,1.146,0.271l0.062,0.03l0.03,0.029v-0.09l0.271-0.934l0.03-0.029v-0.03
                L47.784,20.162"/>
                            <path id="path30" d="M52.699,19.981h-4.521v0.03l-0.212,0.903v0.06h1.597l-1.023,4.76v0.092h1.296l0.03-0.029v-0.031
                c0,0,0.965-4.55,1.024-4.791h1.629v-0.029l0.181-0.904l0.03-0.06H52.699"/>
            </svg>
        </div>
    {% endif %}

    {% if shipping == "ups" %}
        <div class="footer-logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="71px" height="45px" viewBox="0 0 71 45" enable-background="new 0 0 71 45" xml:space="preserve">
            <path fill="#EFEFEF" d="M70.5,40.909c0,2.259-1.791,4.091-3.999,4.091H4.5c-2.209,0-4-1.832-4-4.091V4.091C0.5,1.832,2.291,0,4.5,0
                h62.001C68.709,0,70.5,1.832,70.5,4.091V40.909z"/>
                            <g>
                                <path fill="#150400" d="M35,38.5c-1.406-0.608-7.983-3.536-10.113-5.285c-2.471-2.015-3.802-4.942-3.802-8.402V8.655
                    C25.039,6.526,29.602,5.5,35,5.5s9.961,1.026,13.915,3.155v16.12c0,3.459-1.293,6.387-3.802,8.401
                    C42.984,34.964,36.407,37.892,35,38.5z"/>
                                <path fill="#F7BE00" d="M47.242,9.302c-1.673-0.152-3.384-0.267-5.171-0.267c-6.501,0-13.496,1.407-19.275,6.691v9.049
                    c0,2.965,1.103,5.397,3.155,7.108c1.825,1.483,7.452,4.03,9.049,4.753c1.559-0.685,7.186-3.193,9.049-4.753
                    c2.091-1.711,3.155-4.105,3.155-7.108V9.302 M24.013,23.862v-7.375h2.357v7.451c0,0.646,0.151,1.635,1.217,1.635
                    c0.456,0,0.836-0.114,1.103-0.304v-8.782h2.318v10.15c-0.912,0.608-2.091,0.95-3.535,0.95
                    C25.153,27.588,24.013,26.334,24.013,23.862 M34.544,32.341h-2.357V17.096c0.837-0.532,1.863-0.837,3.155-0.837
                    c2.813,0,4.335,2.129,4.335,5.513c0,3.422-1.483,5.74-4.106,5.74c-0.494,0-0.836-0.075-1.064-0.113L34.544,32.341L34.544,32.341z
                     M34.544,25.497c0.152,0.076,0.456,0.152,0.76,0.152c1.331,0,1.978-1.255,1.978-3.802c0-2.624-0.57-3.688-1.939-3.688
                    c-0.304,0-0.646,0.076-0.836,0.152L34.544,25.497L34.544,25.497z M40.209,19.3c0-1.9,1.597-3.003,3.155-3.041
                    c1.292-0.038,2.167,0.456,2.585,0.761v2.053c-0.494-0.494-1.293-0.95-2.091-0.95c-0.646,0-1.368,0.304-1.368,1.102
                    c-0.039,0.837,0.684,1.18,1.521,1.711c1.938,1.141,2.318,2.167,2.281,3.536c-0.038,1.482-1.065,3.117-3.384,3.117
                    c-0.913,0-1.825-0.304-2.586-0.722v-2.167c0.608,0.531,1.483,0.95,2.243,0.95c0.875,0,1.407-0.494,1.407-1.293
                    c0-0.722-0.418-1.141-1.445-1.749C40.589,21.468,40.246,20.555,40.209,19.3 M25.191,32.835c-2.357-1.939-3.612-4.715-3.612-8.06
                    V8.959c3.727-1.977,8.25-3.003,13.459-3.003c5.208,0,9.732,0.988,13.459,3.003v15.854c0,3.346-1.255,6.121-3.612,8.061
                    c-2.167,1.787-9.048,4.79-9.847,5.132C34.239,37.625,27.358,34.621,25.191,32.835z M43.592,36.181v1.368h0.267v-0.57h0.038
                    c0,0.038,0.38,0.57,0.38,0.57h0.305c0,0-0.381-0.532-0.419-0.608c0.19-0.038,0.305-0.189,0.305-0.38
                    c0-0.189-0.114-0.418-0.456-0.418L43.592,36.181L43.592,36.181z M43.973,36.371c0.228,0,0.228,0.113,0.228,0.189
                    c0,0.114-0.038,0.229-0.304,0.229h-0.038v-0.418H43.973z M44.923,36.865c0,0.494-0.418,0.912-0.912,0.912
                    c-0.495,0-0.913-0.418-0.913-0.912s0.418-0.951,0.913-0.951C44.505,35.914,44.923,36.332,44.923,36.865 M44.011,35.725
                    c-0.608,0-1.141,0.494-1.141,1.141c0,0.607,0.494,1.14,1.141,1.14c0.608,0,1.141-0.494,1.141-1.14
                    C45.113,36.219,44.619,35.725,44.011,35.725"/>
                            </g>
            </svg>
        </div>
    {% endif %}

{% endfor %}